<!DOCTYPE html>
<html>
<head>
	<title>Django Blog App</title>
</head>
<body>

	{% for s in submissions %}
		<a href="{% url 'single' s.id%}"><h2>{{s.name}}</h2></a>
		<p>Name {{s.name}}, Reps: {{s.reps}}</p>
    {% endfor %}
    

    <h2>Total Running Length</h2>
    {% for key, value in totalRunLength.items %}

        <span>{{ key }} - {{ value }}</span>
        <br />
    {% endfor %}


    <h2>Total Hiking Length</h2>
    {% for key, value in totalHikeLength.items %}

        <span>{{ key }} - {{ value }}</span>
        <br />
    {% endfor %}

    <h2>Total Cycling Length</h2>
    {% for key, value in totalCyclingLength.items %}

        <span>{{ key }} - {{ value }}</span>
        <br />
    {% endfor %}

</body>
</html>